# Exclude source and dev files
src/
test/
*.test.ts
!dist/
!*.d.ts
coverage/
node_modules/
.vscode/
.github/
.env
*.log

# Exclude build tools & configs
tsconfig.json
tsup.config.ts
eslint.config.js
.editorconfig
.gitattributes
.lintstagedrc.yaml
.prettierignore
.prettierrc
.husky/
CHANGELOG.md
commitlint.config.js
pnpm-lock.yaml

# Keep only the dist and typings
!.npmignore
!dist/
!README.md
!package.json
!LICENSE




